.input-container{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-self: center;
    margin-bottom: 50px;
    flex-direction: column;
    
}
.input-container h3{
    align-self: center;
    color: red;
}

.input-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    background-color: aquamarine;
    
}


.input-fields button{
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: center;
}
