.input-container-reg{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-self: center;
    flex-direction: column;
    
}

.input-container-reg h3{
    align-self: center;
    color: red;
}

.input-fields-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    background-color: aquamarine;
  
    
}


.input-fields-reg button{
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: center;
}
