.header h2{
    color: green
}

.header{
    display: flex;
    justify-content: center;
}

.item-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.item-list li{
    margin-right: 5px;
    list-style: none;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
    
}
.item-list button{
    margin-left: 5px;
    background-color: Red;
    color: white;
    border: none;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}