nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.navbar-brand{
    color:aliceblue;
    margin-left: 30px;
    font-weight: bold;
}

.dropdown button{
    margin-right: 30px;
}

.dropdown h1{
    color:aliceblue;
}
.name-log{
    display: flex;
    gap: 10px
}

.name-log button{
    height: 30px;
    align-self: center;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
